# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* list some popular languages used in data science
* list some common data science libraries
* create a table of 3 data science open source development environments
* list a few examples of arithmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries usedd by Data Scientists include:
1. Pandas
2. Matplotlib
3. Seaborne
4. Tensorflow
5. PyTorch
6. numpy
7. scikit-learn
8. keras

|Data Science Tools|
|------|
|JupyterLab|
|Spyder|
|VSCode|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

### Author
Ana Dominguez